<div class="col-sm-4 col-note-list">
  <div class="search-bar">
    <input type="text" placeholder="Search" class="note-search-input" ng-model="searchInput">
  </div>
  <ul class="list-group">
    <li class="list-group-item" ng-repeat="note in notes | filter:searchInput | orderBy:'modifiedAt':true"
        ng-click="selectNote(note)"
        ng-class="{'active': note === selectedNote}">
      <h5 class="list-group-item-heading">{{ note.content | noteExcerpt:38 }}</h5>

      <div class="modified-date">{{ note.modifiedAt | date }}</div>
    </li>
  </ul>
</div>
