<div class="search-bar">
  <input type="text" placeholder="Search" class="note-search-input" ng-model="search.keyword">
</div>
<div class="note-list">
  <ul class="list-group">
    <li class="list-group-item" ng-repeat="note in notes | filter:search.keyword | orderBy:'modifiedAt':true"
        ng-click="selectNote(note)"
        ng-class="{'active': note === selectedNote}">
      <h5 class="list-group-item-heading" ng-bind-html="note.content | noteExcerpt:38 | highlightText:search.keyword"></h5>

      <div class="modified-date">{{ note.modifiedAt | date }}</div>
    </li>
  </ul>
</div>
