<div class="row toolbar">
  <div class="col-sm-8">
    <div class="modified-date">{{ selectedNote.modifiedAt | date:'MMMM dd, yyyy, hh:mm:ss a' }}</div>
  </div>
  <div class="col-sm-4">
    <div class="btn-group pull-right">
      <button type="button" class="btn btn-default" ng-click="deleteNote(selectedNote)"><span class="glyphicon glyphicon-trash"></span>
      </button>
      <button type="button" class="btn btn-default" ng-click="createNote()"><span class="glyphicon glyphicon-pencil"></span>
      </button>
    </div>
  </div>
</div>
<div class="row full-height" ng-click="setEditMode(true)">
  <div class="col-sm-12 full-height editor-outer">
    <div class="editor-preview" ng-hide="editMode" ng-bind-html="selectedNote.content | newLine | highlightText:search.keyword"></div>
    <textarea class="editor" ng-model="editingNote.content" ng-show="editMode" ng-blur="saveOrUpdateNote(editingNote)" focus="editMode"></textarea>
  </div>
</div>
