<div class="row toolbar">
  <div class="col-sm-8">
    <div class="modified-date">{{ selectedNote.modifiedAt | date:'MMMM dd, yyyy, hh:mm:ss a' }}</div>
  </div>
  <div class="col-sm-4">
    <div class="btn-group pull-right">
      <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-trash"></span>
      </button>
      <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span>
      </button>
    </div>
  </div>
</div>
<div class="row full-height" ng-click="enableEditMode()">
  <div class="col-sm-12 full-height editor-outer">
    <div class="editor-preview" ng-hide="editMode" ng-bind-html="selectedNote.content | highlightText:search.keyword"></div>
    <textarea class="editor" ng-model="selectedNote.content" ng-show="editMode"></textarea>
  </div>
</div>
